In [ ]:
# set : 집합 데이터 타입
# set(iterable) : iterable => list, tuple, str
s1 = set([1,2,3])
print(s1)
# print(s1[0]) error : index가 없다, 인덱스로 접근이 안된다.
# 값으로 접근해야 한다.

{1, 2, 3}

TypeError: 'set' object is not subscriptable

In [ ]:
# 중복 제거 하는 형태로 사용
# set은 index가 없기 때문에 나오는 값이 랜덤이다. (순서가 없다)
s2 = set('Hello')
print(s2)

{'e', 'o', 'H', 'l'}

In [ ]:
# 집합 연산자
# 집합 후 값은 set으로 나온다. (index가 없기때문에 random하게 나온다)
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1,s2)

{1, 2, 3, 4, 5, 6} {4, 5, 6, 7, 8, 9}

In [6]:
#교집합
print(s1 & s2)
print(s1.intersection(s2))
print(s2.intersection(s1))

{4, 5, 6}
{4, 5, 6}
{4, 5, 6}

In [8]:
# 합집합
print(s1 | s2)
print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(type(s2 - s1)) # return 값 set
print(s2.difference(s1))

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}
<class 'set'>
{8, 9, 7}

In [12]:
# 관련 메소드
# 1. add : 1개 값 추가
s1 = set([1,2,3])
print(s1)
s1.add(4)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}

In [ ]:
# 여러개 추가 : update
print(s1)
s1.update([7,8])
# s1.update(9) # update 값에는 iterable한 값만 가능하다. 아니면 error 다
print(s1)

{1, 2, 3, 4, 5, 6}

TypeError: 'int' object is not iterable

In [19]:
# 제거 : remove
s1 = set([1,2,3])
print(s1)
s1.remove(2)
print(s1)

{1, 2, 3}
{1, 3}